{% extends "base.html" %}
{% block container %}

<!--
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
-->

<div class="container mt-3">
    <h2 class="text-center">
        Welcome to the Development Platform for High-level Physics Controls
    </h2>
    <div class="card mt-3">
        <div class="card-header">
            <h4 class="text text-danger">Guideline</h4>
        </div>
        <div class="card-body">
            <ul class="list-unstyled" style="line-height:180%;">
                <li>Login via <a href="{{ url_for('u_login') }}">here</a>, for new user, sign up first;</li>
                <li>Click the user name to access user configuration management;</li>
                    <ul>
                        <li>Update basic user information via
                            <span><i class="glyphicon glyphicon-wrench"></i></span>
                        </li>
                        <li>Update service via
                            <span><i class="glyphicon glyphicon-equalizer"></i></span>
                        </li>
                    </ul>
                <li>Click <b>Service Name</b> to control service;</li>
                <li>Click <b>Notebook URL</b> to get access into notebook.</li>
            </ul>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-header">
            <h4 class="text text-danger">Available Services</h4>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>phyapps-va</td>
                        <td>Physics applications development environment, with VA</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>phyapps-nb</td>
                        <td>Physics applications development environment, w/o VA</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
